<!-- TODO: get links + text from CMS -->

<div id="transparencia">
  <p>Via <a href="http://www.transparencia.be">Transparencia.be</a> kan je enkele aanvragen om bijkomende documentatie
    volgen:</p>
  <iframe src='https://transparencia.be/nl_BE/request/409/widget' width='320' height='215' frameborder='0'
    marginwidth='0' marginheight='0'></iframe>
  <iframe src='https://transparencia.be/nl_BE/request/419/widget' width='320' height='215' frameborder='0'
    marginwidth='0' marginheight='0'></iframe>
</div>